


	<div id = "welcome">
		Welcome <%= current_user.first_name %>
		<%= image_tag(@my_pic) %>
		<%= link_to "Sign out", signout_path %>
	</div>

	<div id = "sneaky">
	    <%#@rush_me_friends.each do |f| %>

	    	<%#= image_tag(@graph.get_picture(f["id"])) %>
	    <%# end %>
	</div>

	<% @rush_me_friends.each do |gen| %>
		<% @mutual = @graph.get_object(gen["id"])%>

		<% if @mutual["gender"] == "male" %>
			<% @malesID = @mutual["id"] %>
			<dl>
				<dd><%= image_tag(@graph.get_picture(@malesID)) %> </dd>
				<dd><%=@malesName = @mutual["name"] %></dd>
			</dl>
		<% end %>


		

		<% @mf = @mutual["gender"] %>
		<% @mmf= @mf["male"] %>
		<% @fmf= @mf["female"] %>

	
	<% end %>

	


